---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import dayjs from "dayjs";
import isSameOrBefore from "dayjs/plugin/isSameOrBefore";
import { getCollection } from "astro:content";
import EventCard from "../components/event/EventCard.astro";
import type { IEvent } from "../models/event.model";

dayjs.extend(isSameOrBefore);

const events = (await getCollection("event"))
  .map((event) => event.data as IEvent)
  .filter((event) => !(event.hidden ?? false))
  .filter(
    (event) =>
      event.type !== "watch-parties" ||
      dayjs().isSameOrBefore(event.date, "day")
  );
const futureEvents = events.filter((event) =>
  dayjs().isSameOrBefore(event.date, "day")
);
const pastEvents = events
  .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime())
  .filter((event) => dayjs().isAfter(event.date, "day"));

const intervenants: {
  url: string;
  label: string;
  image: string;
  alt: string;
}[] = (await getCollection("speaker"))
  .toSorted((a, b) => a.data.name.localeCompare(b.data.name))
  .map((s) => ({
    url: s.data.linkedin,
    label: `compte LinkedIn de ${s.data.name}`,
    image: s.data.picture,
    alt: s.data.name,
  }));
---

<Layout
  title="Angular Devs France - Communauté Angular francophone"
  description="Découvrez la communauté francophone Angular sur notre chaine YouTube"
>
  <div class="flex justify-center items-center flex-wrap gap-8">
    <Image
      alt="Logo Angular Devs France"
      loading="eager"
      src="/images/logos/adf/actual/logo.webp"
      height="250"
      width="250"
    />
    <div class="flex flex-col items-center gap-4 text-center">
      <h1 class="text-6xl font-bold title">ANGULAR DEVS FRANCE</h1>
      <p class="text-xl">
        LE rendez-vous de la communauté Angular francophone!
      </p>
      <p>Rejoignez la communauté Angular en live sur YouTube!</p>
      <a
        class="inline-flex items-center gap-2 px-4 py-3 bg-red-600 text-white font-bold rounded-md"
        href="https://www.youtube.com/channel/UCmEGS2U5CSzWBt62WnCh_Cw"
        target="_blank"
      >
        <Image
          src="/images/logos/other/social/youtube.svg"
          loading="eager"
          height="24"
          width="24"
          alt=""
        />
        Découvrir la chaine YouTube
      </a>
      <a
        class="sm:hidden px-4 py-3 bg-[#383e97] text-white font-bold rounded-md"
        href="https://conference-hall.io/public/event/xXhZVEbtz1mMoWZYhsoE"
        target="_blank"
        title="Rejoignez notre communauté de speakers en proposant un sujet sur Conference Hall"
      >
        Proposer un sujet
      </a>
    </div>
  </div>

  <h2
    class="text-4xl font-bold mt-20 mb-8 text-center flex items-center m-auto gap-4"
  >
    Prochains événements
  </h2>

  <ul>
    {
      futureEvents.map((event) => (
        <li>
          <EventCard event={event} />
        </li>
      ))
    }
  </ul>

  <p class="text-center">Pour ne manquer aucun événement :</p>
  <ul class="flex flex-row justify-center">
    <li>
      <a
        href="https://calendar.google.com/calendar/embed?src=628897f1029c03ab30fd085e39b68cc6ee9955022325274f297278ec7955f22e%40group.calendar.google.com&ctz=Europe%2FParis"
        target="_blank"
      >
        <Image
          src="/images/logos/other/social/google-agenda.png"
          loading="eager"
          height="80"
          width="80"
          alt="Google Agenda"
        /></a
      >
    </li>
    <li>
      <a
        href="https://calendar.google.com/calendar/ical/628897f1029c03ab30fd085e39b68cc6ee9955022325274f297278ec7955f22e%40group.calendar.google.com/public/basic.ics"
        target="_blank"
      >
        <Image
          src="/images/logos/other/social/google-agenda-ical.png"
          loading="eager"
          height="80"
          width="80"
          alt="Google Agenda iCal"
        /></a
      >
    </li>
    <li>
      <a href="/events-rss.xml" target="_blank">
        <Image
          src="/images/logos/other/social/rss.png"
          loading="eager"
          height="80"
          width="80"
          alt="RSS Event feed"
        /></a
      >
    </li>
  </ul>

  <div class="flex flex-col items-center pt-20">
    <a
      class="inline-flex items-center gap-2 px-4 py-3 bg-red-600 text-white font-bold rounded-md"
      href="https://www.helloasso.com/associations/angular-nexus/formulaires/1"
      target="_blank"
      ><span class="text-2xl">❤</span> Nous soutenir
    </a>
  </div>

  <h2
    class="text-4xl font-bold mt-20 mb-8 text-center flex items-center m-auto gap-4"
  >
    Nos intervenants
  </h2>

  <ul class="flex justify-center flex-wrap gap-4">
    {
      intervenants.map((intervenant) => (
        <li>
          <a
            href={intervenant.url}
            target="_blank"
            aria-label={intervenant.label}
          >
            <Image
              class="rounded-2xl block lg:block shadow-2xl"
              src={intervenant.image}
              alt={intervenant.alt}
              width={124}
              height={124}
            />
          </a>
        </li>
      ))
    }
  </ul>

  <h2
    class="text-4xl font-bold mt-20 mb-8 text-center flex items-center m-auto gap-4"
  >
    Nos derniers événements
  </h2>

  <ul>
    {
      pastEvents.map((event) => (
        <li>
          <EventCard event={event} isPast={true} />
        </li>
      ))
    }
  </ul>
</Layout>
<style>
  .title {
    font-family: "Lilita One", sans-serif;
  }
</style>
