---
import dayjs from 'dayjs';
import localizedFormat from 'dayjs/plugin/localizedFormat';
import {type IEvent} from "../models/event.model";
import {Image} from 'astro:assets';

interface Props {
    event: IEvent;
}

const { event } = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(event.date).format('DD MMM');
---

<a class="flex flex-wrap flex-col sm:flex-row justify-between shadow-2xl rounded-2xl p-4" href={event.youtube} target="_blank">
    <div class="flex gap-2">
        <div class="rounded-2xl bg-neutral-300 p-4 min-h-full w-full flex flex-col justify-center items-center">
            <div class="uppercase">{displayDate}</div>
            <div class="font-bold text-3xl">{event.startTime}</div>
        </div>
        <div class="rounded-2xl bg-[#383e97] p-4 min-h-full w-full flex flex-col justify-center items-center">
            <div class="font-bold text-3xl text-white uppercase">Talk</div>
        </div>
    </div>
    <div class="p-4 flex-1">
        <h3 class="font-bold text-2xl">{event.title}</h3>
        <div>{event.speaker}</div>
    </div>
    <Image
        class="rounded-2xl hidden md:block"
        src={event.avatar || ''}
        alt={event.title}
        width={128}
        height={128}
    />
</a>
<style>
</style>
